{% load static %}
<div class="shopping__cart">
  <div class="shopping__cart__inner">
    <div class="offsetmenu__close__btn">
      <a href="#"><i class="zmdi zmdi-close"></i></a>
    </div>
    <div class="shp__cart__wrap">
      <div class="shp__single__product">
        <div class="shp__pro__thumb">
          <a href="#">
            <img src={% static 'images/product/sm-img/1.jpg' %} alt="product
            images">
          </a>
        </div>
        <div class="shp__pro__details">
          <h2><a href="product-details.html">Пример товара в корзине</a></h2>
          <span class="quantity">КОЛ: 1</span>
          <span class="shp__price">1050.00 р.</span>
        </div>
        <div class="remove__btn">
          <a href="#" title="Remove this item"
            ><i class="zmdi zmdi-close"></i
          ></a>
        </div>
      </div>
      <div class="shp__single__product">
        <div class="shp__pro__thumb">
          <a href="#">
            <img src={% static 'images/product/sm-img/2.jpg' %} alt="product
            images">
          </a>
        </div>
        <div class="shp__pro__details">
          <h2><a href="product-details.html">Еще один товар в корзине</a></h2>
          <span class="quantity">КОЛ: 1</span>
          <span class="shp__price">250.00 р.</span>
        </div>
        <div class="remove__btn">
          <a href="#" title="Убрать из корзины"
            ><i class="zmdi zmdi-close"></i
          ></a>
        </div>
      </div>
    </div>
    <ul class="shoping__total">
      <li class="subtotal">Всего:</li>
      <li class="total__price">1300.00 р.</li>
    </ul>
    <ul class="shopping__btn">
      <li><a href="cart.html">Открыть корзину</a></li>
      <li class="shp__checkout"><a href="checkout.html">Оформить заказ</a></li>
    </ul>
  </div>
</div>
